.bg{
    position: absolute;
    z-index: -1;
}
.girl{
        object-fit: cover;
        z-index: -1;
}
.left{
    background: #0f0013;
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);

}
.fs_7{
    font-size: .7rem;
}
.spacing{
    padding-left:  20%;
    font-size: .7rem;
    font-weight: normal !important;
}
.icon_spacing{
    padding-left: 30%;
}