* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.bg-img{
  object-fit: cover;
  z-index:  -1;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("../../public/assets/list.svg") !important;
}
.navbar-light .navbar-toggler {
  border: 2px solid white;
}
.fs-8{
  font-size: .8rem;
}
.fs-7{
  font-size: .7rem;
}

.bg{
  width: 45%;
  background: rgba(37, 36, 36, 0.5);
  margin: 0 5rem ;
  padding: 1rem;
  border-radius: 20px;
  color: white;
  margin:  10rem 0 1rem 0;
}
.btn_started{
  background: rgba(19, 18, 18, 0.9);
  color: white;
  border: none;
  padding: .5rem 1.8rem;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 10px;
}
.btn_started a{
  color: white;
}
.btn_started:hover{
  background-color: red;
}
.section_2{
  background: #0f0013;
  color: white;
  padding-bottom: 3rem;
}
.art{
  height: 8rem;
  width: 45rem;
  margin: 0 auto;
}
.kids_border{
  border: 2px solid #ae06e1;
  border-radius: 15px;
}
.coding{
  display: flex;
  width: 12rem;
  height: 2.7rem;
  border: 2px solid #ae06e1;
  border-radius: 15px;
  justify-content: center;
  margin:  5rem 0 1rem 0;
}
.bg-kids{
  position: relative;
  width: 100%;
  max-width: 700px;
  aspect-ratio: 70/45;
  margin: 2rem auto;
  z-index: 999;
}
.bg-road{
  position: relative;
  z-index: 1;
  width: 100% !important;
  height: 100vh
}
/*.section_3*/
.bg_3{
  position: relative;
  z-index: -1;
}
/*.section_4*/
.bg_4{
  position: relative;
  z-index:  -1;
}
.text_4_1{
  position: absolute;
  top: 0;
  left: 62%;
}
.road_here{
  position: absolute;
  top: 8%;
  left: 69%;
}
.custom_w_50{
  width: 30%!important;
}
.custom-border{
  border: 2px dotted red !important;
}
.text_4_2{
  position: absolute;
  top: 25%;
  left: 20%;
}
.starting_css{
  position: absolute;
  top: 30%;
  left: 10%;
}
.custom_bg_success{
  background: #21D152 !important;
}
.green_border{
  border: 2px dotted #21D152 !important;
}
.custom_bg_purple{
  background:  #B700EE;
}
.text_4_3{
  position: absolute;
  top: 50%;
  left: 70%;
}
.now{
  position: absolute;
  top: 55%;
  left: 78%;
}
.purple_border{
  border: 2px dotted #B700EE !important;
}
.cont_reading{
  position: absolute;
  top: 93%;
  left: 10%;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  font-size: .7rem;
  padding: .3rem .9rem;
  font-weight: bold;
}