.main{
    position: relative;
}
.bg_3{
    object-fit: contain;
    z-index: -1;
}
.bg_4{
    background-color:  #0f0013;
}
.fs_8{
    font-size: .8rem;
}
.kids{
    border: 1px solid  #B700EE;
    width: fit-content;
    padding: .3rem .7rem;
    border-radius: 15px;
    color: white;
}
.table_right{
    border-right: 1px solid black;
}
/* Custom CSS */
.transparent_bg {
    background-color: transparent !important;
}
  
  .transparent_bg th,
  .transparent_bg td {
    background-color: transparent !important;
    padding: 1rem 0;
}
  