
.bg{
    position: relative;
}
.bg_register{
    z-index: -1;
    object-fit: cover;
}
.bg_main{
    background: #190a20;
}
.bg_form{
    background: #25012f;
    padding: 2rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.dashed{
    border: 2px dashed white;
}
.dashed::placeholder{
    color: rgb(123, 122, 122);
    font-size: .8rem;
}
.dashed option{
    background-color: white;
    color: rgb(123, 122, 122) !important;
    font-size: .8rem !important;
}
.dashed select{
    font-size: .8rem;
}
.dashed:focus{
    border: none;
}
.butt_sub{
    background-color: #be0fdc;
    padding: .5rem 3rem;
    border: 2px solid #be0fdc;
    border-radius: 0.7rem;
    width: 50%;
    margin: 0 auto;
    color: white;
}
.butt_sub:hover{
    background-color: #be0fdc;
    border: 2px solid #be0fdc;
}